*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 150%;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20%;
    padding-top: 10px;
}
nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
}
nav figure{
    width: 10%;
    height: 80%;
}
header nav ul{
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
}
li a{
    color: white;
}
ul li{
    list-style-type: none;
}
#navbutton,
#footerbutton{
    padding-inline: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#navbutton{
    background-color: white;
}
#footerbutton{
    background-color: #7c8dd9;
    color: white;
}
.round{
    border-radius: 20px;
}
#undernav{
    height: 50%;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#undernav h1{
    height: 25%;
    width: 60%;
    text-align: center;
    color: white;
}
#headtext{
    padding: 10px;
    width: 90%;
    text-align: center;
    color: white;
}
#undernavbutton{
    height: 25%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#under1{
    padding-inline: 15px;
    padding-block: 5px;
    height: 70%;
    background-color: white;
}
#under1 a{
    color: black;
    padding-inline: 15px;
    padding-block: 5px;
}
#under2{
    padding-inline: 15px;
    padding-block: 5px;
    background-color: #1b1d20;
}
#under2 a{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
}
.imgtext{
    /* background-color: white; */
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* padding-inline: 15%; */
}
div.grey.imgtext{
    flex-direction: row-reverse;
}
 .grey{
    background-color: #f4f4f4;
}
.wave{
    width: 100%;
    height: 40px;
    background-image: url(../img/wave.svg);
    background-size:  auto;
    background-repeat: no-repeat;
    background-position: center top;
}
.rotate{
    transform: rotate(180deg);
}
.imgtext figure{
    height: 80%;
    width: 40%;
}
#fig1{
    background-image: url('..//img/item1.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#fig2{
    background-image: url('..//img/item2.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#fig3{
    background-image: url('..//img/item3.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.imgtext div{
    height: 80%;
    width: 20%;
}
main .imgtext h2{
    margin-bottom: 15%;
}
#mainend{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 15%;
    padding-bottom: 40px;
}
#mainend div h2,
#mainend div p{
    text-align: center;
}
#mainend div h2{
    margin-top: 40px;
    margin-bottom: 10px;
}
#mainend > div{
    height: 20%;
}
#mainend figure{
    height: 80%;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#mainend > div:last-child{
    display: flex;
    flex-direction: column;
    padding-inline: 30%;
    justify-content: space-evenly;
    align-items: center;
}
#textb{
    text-align: center;
    height: 30%;
    width: 90%;
    background-image: url('../img/stars.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#mainendbutton{
    background-color: #7c8dd9;
    height: 20%;
    width: 30%;
    padding-inline: 15px;
    padding-block: 5px;
    color: white;
}
footer{
    flex-wrap: wrap;
    height: 500px;
    background-color: #1b1d20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
}
footer > div{
    height: 60%;
    width: 10%;
}
footer h2,
footer h4{
    color: #5f72d1;
}
#firstfoot{
    width: 30%;
}
.selected-language{
    margin: 15px 0;
}
.selected-language span{
    color: white;
    line-height: 16px;
}
.selected-language img{
    height: 16px;
}
footer div:nth-child(6){
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer figure{
    width: 10%;
    height: 80%;
}
hr{
    width: 100%;
    border-color: #7c8dd9;
    margin-bottom: 20px;
}
.socialcontainer li{
    margin: 7px;
    margin-left: 0;
    display: inline-block;
}
.socialcontainer li a{
    width: 100%;
    height: 100%;
}
.social{
    width: 20px;
    height: 20px;
    fill: white;
}
